@use 'theme';

.editor__toolbar {
  padding: 0.5rem;
  border-bottom: theme.$secondary-colour solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-item {
    height: 37px;
    width: 37px;
    background: #f1f5f9;
    margin: 0 0.25rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    button {
      height: 27px;
      width: auto;
      border: none;
      background-color: #f1f5f9;
      cursor: pointer;
    }
    .button--active {
      background-color: white;
      border-radius: 5px;
      box-shadow: var(--p-togglebutton-content-checked-shadow);
    }
  }
}

grid-text-editor {
  width: 100%;
  height: 100%;
  border: solid 1px theme.$secondary-colour;
  color: theme.$secondary-colour;
  background-color: white;
}
