@use 'theme';

.editor__toolbar {
  padding: 0.5rem;

  button {
    height: 32px;
    width: auto;
    border: none;
    background: none;
    cursor: pointer;
    color: theme.$secondary-colour;

    &:hover {
      background-color: theme.$primary-colour-50;
      border-radius: 5px;
      color: theme.$secondary-colour;
    }
  }
}

.editor__toolbar-button--active {
  background-color: theme.$secondary-colour;
  color: theme.$primary-colour;
}

grid-text-editor {
  width: 100%;
  height: 100%;
  border: solid 1px theme.$secondary-colour;
  color: theme.$secondary-colour;
}