<form [formGroup]="reactiveForm">
  <div>
    <div class="editor__toolbar">
      <button
        [ngClass]="{ 'editor__toolbar-button--active': editor.isActive('heading') }"
        (click)="editor.chain().focus().toggleHeading({ level: 1 }).run()"
      >
        <lucide-icon [img]="Heading1" size="16"></lucide-icon>
      </button>
      <button
        [ngClass]="{ 'editor__toolbar-button--active': editor.isActive('bold') }"
        (click)="editor.chain().focus().toggleBold().run()"
      >
        <lucide-icon [img]="Bold" size="16"></lucide-icon>
      </button>
      <button
        [ngClass]="{ 'editor__toolbar-button--active': editor.isActive('italic') }"
        (click)="editor.chain().focus().toggleItalic().run()"
      >
        <lucide-icon [img]="Italic" size="16"></lucide-icon>
      </button>
      <button
        [ngClass]="{ 'editor__toolbar-button--active': editor.isActive('paragraph') }"
        (click)="editor.chain().focus().setParagraph().run()"
      >
        <lucide-icon [img]="Pilcrow" size="16"></lucide-icon>
      </button>
    </div>
    <tiptap-editor [editor]="editor" formControlName="content"></tiptap-editor>
  </div>
</form>
