$primary-colour: #f4ead5;
$primary-colour-90: #f5ecd9;
$primary-colour-70: #f7f0e2;
$primary-colour-50: #f9f5ea;

$secondary-colour: #a88642;
$secondary-colour-90: #b19255;
$secondary-colour-70: #c2aa7b;
$secondary-colour-50: #d3c3a0;
$secondary-colour-30: #e5dbc6;

$accent-red-colour: #6b1e26;

$accent-green-colour: #2e5e4e;

$accent-dark-colour: #1f1914;
