$primary-colour: #F4EAD5;
$primary-colour-90: #F5ECD9;
$primary-colour-70: #F7F0E2;
$primary-colour-50: #F9F5EA;

$secondary-colour: #A88642;
$secondary-colour-90: #B19255;
$secondary-colour-70: #C2AA7B;
$secondary-colour-50: #D3C3A0;
$secondary-colour-30: #E5DBC6;

$accent-red-colour: #6B1E26;

$accent-green-colour: #2E5E4E;

$accent-dark-colour: #1F1914;