/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Montserrat', sans-serif;
}

@import 'gridstack/dist/gridstack.min.css';

.grid-stack {
  background: #fafad2;
}

.grid-stack-item-content {
  text-align: center;
  background-color: #18bc9c;
}
